*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Ubuntu'
}

body{
    background: #E5E5E5;
    margin: 0;
}

/* Quienes Somos */
#quienesBody{
    background: #E5E5E5;
}
#quienesBody section{
    padding-left: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
#quienesSection1{
    width: 100%;
    height: 1001px;
    padding-top: 15%;
    padding-left: 9%;
    background-image: url("https://drive.google.com/uc?export=view&id=19oGvAnHoiUMBpa-G2_ZMZxqa-8xuD6Nq");
}
#quienesPrimerHeader{
    font-weight: 500;
    font-size: 66px;
    line-height: 76px;
    /* identical to box height */
    background: linear-gradient(180deg, #7FCFA7 0%, #5C9578 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 28px;
}
#quienesContenedorDesc1{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #1F1E22;
    padding-bottom: 28px;
}
#quienesBoton1{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(180deg, #7FCFA7 0%, #5C9578 100%);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.34);
    border-radius: 20px;
    height: 53px;
    width: 244px;
}
#quienesSection2{
    padding-top: 108px;
}
#quienesHeader2{
    font-weight: 500;
    font-size: 64px;
    line-height: 74px;
    /* identical to box height */
    text-align: center;
    background: linear-gradient(180deg, #7FCFA7 0%, #5C9578 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-bottom: 50px;
}
#quienesDesc2{
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    /* or 133% */
    color: #1F1E22;
    padding-bottom: 98px;
    padding-left: 87px;
}
#headerOlvidado{
    font-weight: 500;
    font-size: 64px;
    line-height: 74px;
    /* identical to box height */
    text-align: center;
    background: linear-gradient(180deg, #7FCFA7 0%, #5C9578 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-bottom: 50px;
    text-align: center;
}
#quienesHeader3{
    font-weight: 500;
    font-size: 64px;
    line-height: 74px;
    /* identical to box height */
    text-align: center;
    background: linear-gradient(180deg, #7FCFA7 0%, #5C9578 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#quienesContenedor{
    display: flex ;
}
#quienesContenedorDesc3{
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    line-height: 40px;
    /* or 133% */
    color: #1F1E22;
    padding-left: 87px;
    padding-right: 5px;
}
#quienesContenedorDesc3 p{
    padding-bottom: 50px;
}
#quienesImg1{
    height: 1304px;
}
#quienesContenedorDesc4{
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    /* or 133% */
    color: #1F1E22;
    padding-left: 87px;
    padding-bottom: 57px;
}
#quienesSection3{
    background: linear-gradient(180deg, rgba(147, 126, 243, 0.6) 4.54%, rgba(255, 241, 239, 0.6) 91.21%);
}
.quienesImg{
    width: 866px;
    height: 650px;
}
.quienesTituloLugares{
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 110px;
    text-align: center;

    background: radial-gradient(352.41% 44.27% at 50% 55.73%, #7FCFA7 0%, #5C9578 58.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.quienesTextoLugares{
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    /* or 133% */
    color: #1F1E22;
    padding-right: 2.5%;
}
#quienesAustralia, #quienesIndia, #quienesPresente{
    display: flex;
}
#quienesContenedorPresente{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#quienesImgIndia{
    width: 780px;
    margin: 30px;
}
#Gracias{
    padding-top: 3%;
    font-family: Kaufmann BT;
    font-style: italic;
    font-weight: 500;
    font-size: 96px;
    line-height: 110px;
    text-align: center;

    background: radial-gradient(352.41% 44.27% at 50% 55.73%, #7FCFA7 0%, #5C9578 58.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
@media only screen and (max-width: 1900px){
    #quienesSection1{
        width: 100%;
        height: auto;
        padding-bottom: 4.8%;
        background-position: center 0%;
        min-height: 500px;
        max-width: 100%;
        padding-left: 0;
        text-align: center;
        padding-top: 5%;
    }
    #quienesContenedor{
        flex-direction: column;
        align-items: flex-end;
    }
    #quienesImg1{
        width: auto;
        height: auto;
        max-width: 400px;
        max-height: 542px;
    }
    .quienesImg{
        width: 100%;
        height: auto;
    }
    #quienesAustralia, #quienesIndia, #quienesPresente{
        flex-direction: column;
    }
    #quienesImgIndia{
        width: 90%;
    }
}
/* Blog */
.blogSection1{
    background-image: url("https://drive.google.com/uc?export=view&id=17SxOSt7SfuRRZ-WlITumeGx6moD_bimM");
    width: 100%;
    height: 1009px;
    padding-top: 155px;
}
.blogSection2{
    background: linear-gradient(180deg,rgba(147, 126, 243, 0.4) 0%, rgba(255, 241, 239, 0.4) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bogPrimerHeader{
    font-weight: 500;
    font-size: 66px;
    line-height: 76px;
    background: linear-gradient(180deg, #7FCFA7 0%, #5C9578 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: 5%;
    padding-bottom: 28px;
}
#blogPrimerDesc{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #1F1E22;
    max-width: 742px;
    margin-left: 5%;
}
#blogSegundoHeader{
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    /* identical to box height, or 128% */
    text-align: center;
    background: linear-gradient(180deg, #7FCFA7 14.84%, #5C9578 87.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-top: 103px;
    margin-bottom: 50px;
}
#blogSegundaDesc{
    font-family: 'Helvetica Now Text ';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #AAAAAA;
    justify-self: center;
    width: 836px;
    margin-bottom: 70px;
}
.blogContenedorCartas{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#cartaZumba{
    margin-right: 64px;
}
#cartaYoga{
    margin-right: 64px;
}
.blogCarta{
    width: 538px;
    height: 577px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.blogCarta h3{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 64px;
    /* identical to box height, or 178% */
    text-align: center;
    background: linear-gradient(180deg, #7FCFA7 24.22%, #5C9578 73.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.blogCarta p{
    margin-left: 4.2%;
    margin-right: 4.2%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: #A1AEB7;
    margin-bottom: 0;
}
.blogCarta button{
    background: #FFFFFF;
    height: 54px;
    width: 270px;
    border-radius: 20px;
}
.blogCarta button span{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    /* or 130% */
    text-align: center;

    background: linear-gradient(180deg, #7FCFA7 39.66%, #5C9578 68.1%, #006835 68.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-radius: 20px;
    padding: 0;
}
.blogCarta div{
    background: linear-gradient(180deg, #7FCFA7 0%, #5C9578 100%);;
    box-shadow: 0px 8px 16px rgba(92, 149, 120, 0.5);
    height: 58px;
    width: 274px;
    border-radius: 20px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sweetBlog{
    background: linear-gradient(180deg, #FFFFFF 0%, #EBFFEE 100%);
    border: 2px solid #005029;
    box-sizing: border-box;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    overflow: hidden;
}
.sweetBlog img{
    width: 100%;
}
.sweetBlog div{
    padding: 10px;
}
.sweetBlog h3{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 64px;
    text-align: center;
    background: linear-gradient(180deg, #28D3DE 0%, #006835 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.sweetBlog p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    /* or 167% */
    color: #1F1E22;
    text-align: left;
}
.swal2-popup { 
    -webkit-border-radius: 40px !important;
    -moz-border-radius: 40px !important;
    border-radius: 40px !important; }

@media only screen and (max-width: 1700px){
    .blogSection1{
        width: 100%;
        height: auto;
        padding-bottom: 4.8%;
        background-position: center 0%;
        min-height: 500px;
        max-width: 100%;
        padding-left: 0;
        text-align: center;
        padding-top: 5%;
    }
    .blogContenedorCartas{
        flex-direction: column;
    }
    .blogCarta{
        margin-bottom: 5%;
        max-width: 90vw;
    }
    #cartaZumba, #cartaYoga{
        margin-right: 0;
    }
    #cartaMeditacion{
        height: 650px;
    }
}
/* Contacto */

#contactoSectionContacto{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFF1EF 100%), url("https://drive.google.com/uc?export=view&id=1hbRr7dUQcfsLEx6sep3CX6moxmkLIgSO");
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 100vw;
    min-height: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

#contactoHeaderPrincipal{
    margin-left: 4.95%;
    top: calc(50% - 76px/2 - 468px);
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 66px;
    line-height: 76px;
    /* identical to box height */
    background: linear-gradient(180deg, #7FCFA7 0%, #5C9578 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 2.5%;
}

.contenedorContacto{
    display: flex;
    margin-left: 6.15%;
    margin-right: 5.36%;
}

#contactoHeaderSecundario{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    /* or 145% */
    color: #000000;
    margin-bottom: 1%;
}

#contactoDescripcionSecundaria{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
    width: 60%;
    margin-bottom: 2%;
}

/* Lista datos */
.contactoLista{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
}
.contactoLista li{
    display: flex;
    align-items: center;
}
.contactoListaImg{
    height: 40.37px;
    width: 40.37px;
}

/* Formaulario */
#contactoFormulario{
    display: flex;
    flex-direction: column;
    width: 600px ;
}
.contenedorInput{
    margin-bottom: 30px;
    padding: 4px;
    border-radius: 25px;
    position: relative;
    background: linear-gradient(180deg, #7FCFA7 0%, #5C9578 100%);
}
.contenedorInputTextarea{
    margin-bottom: 30px;
    padding: 4px;
    padding-bottom: 0px;
    border-radius: 25px;
    position: relative;
    background: linear-gradient(180deg, #7FCFA7 0%, #5C9578 100%);
}
.contactoInput{
    background: #FAF9FA;
    box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.34);
    border-radius: 21px;
    width: 100%;
    padding: 4.46%;
    border: none;
}

#contactoFormularioTexto{
    resize: none;
}
#contactoFormularioBoton{
    background: linear-gradient(180deg, #7FCFA7 0%, #5C9578 100%);
    box-shadow: 0px 8px 16px rgba(92, 149, 120, 0.5);
    border-radius: 25px;
    border-style: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px;
}
@media only screen and (max-width: 1100px){
    .contenedorContacto{
        flex-direction: column;
    }
}
/* Clases */
#clasesSection1{
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 50.03%), url("https://drive.google.com/uc?export=view&id=1USjG49fcdw31dd8Vo-TnkUtxjzvfWwmp");
    width: 100%;
    height: 710px;
    padding-top: 15%;
    padding-left: 10%;
    /* background-position: center 0%; */
}
#clasesTitulo1{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 66px;
    line-height: 76px;
    /* identical to box height */
    background: linear-gradient(180deg, #7FCFA7 0%, #5C9578 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#clasesSection2{
    background: linear-gradient(180deg, #FFFFFF 0%, #EBFFEE 100%);
    box-shadow: 0px 4px 34px rgba(127, 207, 167, 0.5);
    display: flex;
    flex-direction: row;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
#clasesSection2 div {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#clasesSection2 div h2{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    /* identical to box height */
    background: linear-gradient(180deg, #7FCFA7 11.72%, #5C9578 92.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 5%;
}
#clasesSection2 div p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    /* or 208% */
    color: #006835;
}
#clasesSection2 div img{
    width: 100%;
}
#clasesSection2 img {
    max-width: 100%;
}
#clasesSection3{
    background: #E5E5E5;
    padding: 10%;
}
#clasesSection3 h2{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    /* identical to box height */
    background: linear-gradient(180deg, #7FCFA7 11.72%, #5C9578 92.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}
#clasesSection3 p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    /* or 208% */
    color: #006835;
    text-align: center;
}
#clasesItalicoVerde{
    padding-top: 3%;
    font-family: Kaufmann BT;
    font-style: italic;
    font-weight: 500;
    font-size: 72px;
    line-height: 110px;
    text-align: center;

    background: radial-gradient(352.41% 44.27% at 50% 55.73%, #7FCFA7 0%, #5C9578 58.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
@media only screen and (max-width: 1900px){
    #clasesTitulo1{
        max-width: 100%;
        text-align: center;
    }
    #clasesSection1{
        background-position: center 0%;
        height: auto;
        min-height: 600px;
        max-width: 100%;
        padding-left: 0;
    }
    #clasesSection2{
        flex-direction: column;
    }
    #clasesSection2 div{
        width: 100%;
        padding: 2.5%;
    }
    #clasesSection2 div h2{
        text-align: center;
    }
}
/* Galeria */
.galImg{
    position: absolute;
    width: 100%;
}
#viejoFix{
    position: relative;
    top: 0;
    display: block;
}
#viejoFix2{
    width: 100%;
}
@media (max-width: 1080px) {
    .galImg{
        width: auto;
        height: 600px;
    }
}
